flows.json
[{"id":"b4e61cd.efc14e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4bb940a7.68bc7","type":"ui_form","z":"b4e61cd.efc14e","name":"","label":"","group":"c17b2b71.5710a8","order":1,"width":"6","height":"10","options":[{"label":"Enter Your Message","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":260,"wires":[["b27bc2f7.bb8c7"]]},{"id":"b27bc2f7.bb8c7","type":"function","z":"b4e61cd.efc14e","name":"Input Parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["b35f27f7.e252f8","e87b779b.0abe78"]]},{"id":"b35f27f7.e252f8","type":"ui_text","z":"b4e61cd.efc14e","group":"c17b2b71.5710a8","order":2,"width":"6","height":"2","name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":340,"wires":[]},{"id":"e87b779b.0abe78","type":"watson-conversation-v1","z":"b4e61cd.efc14e","name":"Student Care","workspaceid":"f2c61d37-3a49-4885-8d74-396d15259339","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/4291cc33-c255-4891-9c21-048b8e556440","timeout":"","optout-learning":false,"x":570,"y":220,"wires":[["3bf583d1.b7a6fc","381f790b.f78fe6"]]},{"id":"3bf583d1.b7a6fc","type":"debug","z":"b4e61cd.efc14e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":220,"wires":[]},{"id":"381f790b.f78fe6","type":"function","z":"b4e61cd.efc14e","name":"Output Parser","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":140,"wires":[["ad71afdd.637d7"]]},{"id":"ad71afdd.637d7","type":"ui_text","z":"b4e61cd.efc14e","group":"c17b2b71.5710a8","order":3,"width":"6","height":"5","name":"","label":"BOT","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":140,"wires":[]},{"id":"c17b2b71.5710a8","type":"ui_group","z":"","name":"ADCET HelpDesk","tab":"165cd687.2e1f39","order":1,"disp":true,"width":"6","collapse":false},{"id":"165cd687.2e1f39","type":"ui_tab","z":"","name":"ADCET Student Care Chatbot","icon":"dashboard","disabled":false,"hidden":false}]